<div class="position-fixed" style="z-index:1020">
  <div class="navicon logo">
    <a href="/">
      <img class="pixel-image icon-link" src="../images/logo.png" height="44px" width="44px">
    </a>
    <span class="tool-tip">MAIN MENU</span>
  </div>
  <div class="navicon logo">
    <a href="/about">
      <img class="pixel-image icon-link" src="../images/icon-about.png" height="44px" width="44px">
    </a>
    <span class="tool-tip">ABOUT</span>
  </div>
  <div class="navicon logo">
    <a href="/resume">
      <img class="pixel-image icon-link" src="../images/icon-resume.png" height="44px" width="44px">
    </a>
    <span class="tool-tip">RESUME</span>
  </div>
  <div class="navicon logo">
    <a href="/games">
      <img class="pixel-image icon-link" src="../images/icon-projects.png" height="44px" width="44px">
    </a>
    <span class="tool-tip">GAMES</span>
  </div>
  <div class="navicon logo">
    <a href="/art">
      <img class="pixel-image icon-link" src="../images/icon-art.png" height="44px" width="44px">
    </a>
    <span class="tool-tip">ART</span>
  </div>
</div>