---
layout: default
---

<div id="particles-js">
</div>

<div class="container">
  <div class="row header-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <div class="page-header">
        <h1 class="display-1">About Me</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1">
      {% include sidebar.html %}
    </div>
    <div class="col-lg-11" style="text-align:center">
      <img id="profile-image" onclick="updateProfileImage()" class="pixel-image" src="../images/profile.png" height="208px" width="208px">
      <br/><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11" style="font-size:40px">
      <div class="card mb-3">
        <div class="card-body text-dark bg-light rounded">
          <p class="card-text job-description">{{ content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
