---
layout: default
---

<div class="container">
  <div class="row" style="margin-bottom:20px;margin-top:10px">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 style="text-align:center" class="display-1">Experience</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-4">Custos Media Technologies</h1>
          <hr class="my-1">
          <h1 class="display-5">2016 - present | Software Developer | Stellenbosch, SA</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">Blloop.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-4">SureSwipe</h1>
          <hr class="my-1">
          <h1 class="display-5">2015 - 2016 | Software Developer | Cape Town, SA</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">I worked for SureSwipe mainly as a Javascript web developer, using the Meteor.js framework. My responsibilities included everything from designing and building apps with HTML, CSS \& Javascript to coding Java servers and web services to managing MongoDB and SQL databases. During my time with the company I started a small project to create an app to help the service technicians with their daily work orders. This app turned out to be very successful and greatly improved the day-to-day performance of its users. The app was eventually released country wide across all of the company's branches, with all of the technicians being issued tablets specifically to use this app.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-4">Mobimine</h1>
          <hr class="my-1">
          <h1 class="display-5">2014 | Software Developer | Pretoria, SA</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">I worked on setting up an infrastructure for a mining solutions company: setting up the IIS server, working on a ASP.Net MVC web interface, and creating a C# program to seamlessly extract MySQL data, generate PDF and Excel reports, and email these to customers at certain intervals. This C# program was run as a Windows service on a Windows server in order to allow the reports to be generated and sent at the right times. The report data was extracted through the use of stored procedures and DbMetal was used to map database objects to C# objects. For the ASP.Net web interface I used HTML, CSS and Javascript to provide the web functionality.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-4">Davinc Consulting</h1>
          <hr class="my-1">
          <h1 class="display-5">2012 - 2013 | Software Developer | Pretoria, SA</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">For this project, JSP and Javascript was used to create a web interface and there was an interesting challenge of allowing the interface to display real-time graphs of a constant stream of electrical data in the browser, where performance testing and optimisation was very important. The data was pulled from a MySQL database and accessed with Java code on the server side, where it was parsed into JSON in order to send it efficiently over to the client-side Javascript code.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-4">University of Pretoria</h1>
          <hr class="my-1">
          <h1 class="display-5">2012 - 2013 | Teaching Assistant | Pretoria, SA</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">Involved in the tutoring of students and marking of assignments. Subjects that I tutored include Data Structures \& Algorithms, Design Patterns and C++ Program Design.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom:20px;margin-top:10px">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 style="text-align:center" class="display-1">Education</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-4">BSc (Hons): Computer Science (with Distinction)</h1>
          <hr class="my-1">
          <h1 class="display-5">2014 | University of Pretoria | Pretoria, SA</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">Dissertation focusing on a comparison between template metaprogramming in C++ and D. My research was aimed at comparing all the advantages of D over C++ in metaprogramming, and a number of famous examples were translated into D code to illustrate the power of the D language.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-4">BSc: IT</h1>
          <hr class="my-1">
          <h1 class="display-5">2011 - 2013 | University of Pretoria | Pretoria, SA</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">Specialising in Software Development. My final year project was to create a fully 3D online multiplayer game that operated in the browser. Everything was written in Javascript, the 3D graphics were created using Three.js on the client side, and on the server side Node.js was used along with Socket.IO in order to allow server push functionality. HTML5, CSS3 and jQuery were used for the web interface which initiated the game.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom:20px;margin-top:10px">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 style="text-align:center" class="display-1">Awards</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="font-size:36px;">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          2013 - UP Achievement Award
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          2013 - Real IRM Solutions Award for Best C# Project
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          2012 - UP Achievement Award (Top of my degree)
        </li>
      </ul>
    </div>
  </div>

  <div class="row" style="margin-bottom:20px;margin-top:10px">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 style="text-align:center" class="display-1">Computer Skills</h1>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-5">Advanced</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-title job-description">Python | C++ | Godot | C# | Java | Qt | HTML | CSS | JavaScript | SQL | AWS</p>
          <hr class="my-2">
          <p class="card-text job-description">Code Design | Interface Design | Game Design</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-5">Intermediate</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-title job-description">C | D | OpenGL | Unity | PHP</p>
          <hr class="my-2">
          <p class="card-text job-description">Computer Security | Networks | Watermarking | Cryptocurrency</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class="display-5">Basic</h1>
        </div>
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">Ruby | Assembly | Go</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom:20px;margin-top:10px">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 style="text-align:center" class="display-1">Languages</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="font-size:36px;">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          English - Fluent
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Afrikaans - Mother tongue
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dutch - Basic
        </li>
      </ul>
    </div>
  </div>
</div>
