---
layout: default
---

<div id="particles-js">
</div>

<div class="container">
  <div class="row header-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <div class="page-header">
        <h1 class="display-1">Art</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1">
      {% include sidebar.html %}
    </div>
    <div class="col-lg-11"></div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11" style="font-size:40px">
      <img class="project-image" src="/images/art/birdman.png" width="100%">
      <img class="project-image" src="/images/art/the-great-debate.png" width="100%">
      <img class="project-image" src="/images/art/the-hesitant.png" width="100%">
      <img class="project-image" src="/images/art/the-exhibition.png" width="100%">
      <img class="project-image" src="/images/art/mr-elephant.png" width="100%">
      <img class="project-image" src="/images/art/outcast.png" width="100%">
      <img class="project-image" src="/images/art/feed-me.png" width="100%">
      <img class="project-image" src="/images/art/lord-of-the-night.png" width="100%">
      <img class="project-image" src="/images/art/yearning.png" width="100%">
      <img class="project-image" src="/images/art/morph.png" width="100%">
      <img class="project-image" src="/images/art/tension.png" width="100%">
      <img class="project-image" src="/images/art/knife.png" width="100%">
      <img class="project-image" src="/images/art/amalgamation.png" width="100%">
    </div>
  </div>
</div>
